html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #26A69A;
}

.startPageWraper{
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.startPageNewsButtonWrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 204px;
    height: 228px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.startPageNewsButton{
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.startPageNewsButton:active{
    background-color: gray;
}

.startPagePlayIcon{
    line-height: 200px;
    font-size: 120px;
    color: black;
}

/*animations*/
.animmaBig {
  animation-name: zoomIn;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.54, 0.99);
  animation-fill-mode: forwards;
}

.animmaSmall {
  animation-name: zoomOut;
  animation-duration: .3s;
  animation-timing-function: ubic-bezier(0.39, 0.58, 0.54, 0.99);
  animation-fill-mode: forwards;
}

/*video*/
.startPageVideoWrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;

    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.startPageCloseVideo{
    color: white;
    position: absolute;
    top: 0;
    float: right;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    z-index: 2;
}

.video{
    width: 100%;
}

.startPageVideoCounter{
    color: white;
    position: absolute;

    top: 0;

    height: 4px;
    width: 100%;
    border-radius: 50%;
}

.startPageVideoCounterWrap{
    border: 2px solid white;
    border-radius: 20%;
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    width: 34px;
    margin: 16px;

    text-align: center;
    line-height: 34px;
    background-color: rgba(211, 211, 211, 0.42);
}

.startPageVideoCounterText{
    color: white;
}

/*skipVidep*/

.startPageBottomButtons{
    font-size: 36px;


    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;

}


.startPageSkipVideo{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
}

.startPageGotToNewsPage{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}





progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;

    /* Dimensions */
    width: 400px;
    height: 60px;

}
/* Polyfill */
progress[role]:after {
        background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
        display: none;
}

/* This sets the dimensions of our sample PB element*/
#test_bar {
  -webkit-appearance: none;
  border: solid 1px black;
  width: 200px;
  height: 20px;
}

/* Background Colors  */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: black !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: black;
}

/* Foreground Colors   */
/* IE10 */
progress {
    color: white;
}

/* Firefox */
progress::-moz-progress-bar {
    background: white;
}

/* Chrome */
progress::-webkit-progress-value {
    background: white;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: white;
}


/*Emergency*/

.startPageEmergencyWrap{
    position: relative;
    background: #F44336;
    color: white;
    padding: 0px;
    padding-bottom: 16px;
    padding-top: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.startPageEmergencyArrowLeft{
    position: absolute;
    left: 16px;
    top: 16px;
}

.startPageEmergencyArrowRight{
    position: absolute;
    right: 16px;
    top: 16px;
}

.startPageEmergencytitle{
    text-align: center;
    font-size: 24px;
}

.startPageEmergencyIngress{
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}
